.heading-lg {
    font-size: 3rem;
    letter-spacing: 2px;
}

.heading-md {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.heading-sm {
    font-size: 2rem;
    letter-spacing: 0.7;
}

.heading-xs {
    font-size: 1.5rem;
    letter-spacing: 0.5;
}

.txt-lg {
    font-size: 3rem;
}

.txt-md {
    font-size: 2rem;
}

.txt-sm {
    font-size: 0.75rem;
}

.text-bold {
    font-weight: bold;
}

.text-ittalic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-overline {
    text-decoration: overline;
}

.txt-highlight {
    background-color: var(--highlight);
    color: var(--gray3);
    width: fit-content;
}

.txt-linethrough {
    text-decoration: line-through;
}

.txt-primary {
    color: var(--primary-color);
}

.txt-gray {
    color: var(--gray1);
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}