.avatar-square {
    border-radius: 5px;
}

.avatar-circle {
    border-radius: 50%;
}

.avatar-border {
    border: 2px solid white;
}

.avatar-lg {
    height: 90px;
    width: 90px;
}

.avatar-md {
    height: 70px;
    width: 70px;
}

.avatar-sm {
    height: 50px;
    width: 50px;
}

.avatar-xs {
    height: 30px;
    width: 30px;
}

.avatar-char,
.avatar-icon {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.avatar_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* * */
.avatar-darkGray {
    background-color: var(--gray5);
}

.avatar-lightGray {
    background-color: var(--gray1);
}

.avatar_f1 {
    font-size: 0.8rem;
}

.avatar_f2 {
    font-size: 1.5rem;
    font-weight: bold;
}





