/****** sidebar + component showcase *******/
.container_components {
    grid-template-columns: 1fr 5fr;
}

/****** main - component showcase *******/
.component {
    width: 85%;
    padding: 2rem 0;
    margin: 0 auto;
}

.component_heading {
    font-size: 3rem;
    letter-spacing: 2px;
}

.component_description {
    max-width: 90%;
    margin: 1rem 0 2rem;
}

.component_variant-showcase {
    gap: 2rem;
    margin: 1.5rem 0;
}

.variant_container {
    padding: 1rem 0;
    border-bottom: 1px solid var(--secondary-color);
}

.variant_heading {
    font-size: 1.75rem;
    letter-spacing: 1px;
}

.variant_description {
    max-width: 90%;
    margin: 0.5rem 0 1.25rem;
}

.variant_example, 
.variant_code {
    background-color: var(--secondary-color);
    width: 90%;
    padding: 1.5rem;
    border-radius: 7px;
    margin: 1rem 0;
}

.variant_example {
    min-height: 150px;
}

.variant_code {
    max-height: 250px;
    overflow-y: scroll;
}

.variant_code::-webkit-scrollbar {
    width: 3px;
}
.variant_code::-webkit-scrollbar-thumb {
    background-color: var(--gray3);
    border-radius: 3px;
}

.variant_code::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}

.code_snippet {
    width: 100%;
}

.code,
.class {
    background-color: var(--gray6);
    color: var(--blue);
    display: inline-block;
    padding: 0.2rem;
    border-radius: 3px;
    margin: 0 3px;
}

.class {
    color: var(--red);
}

/* spacing */
.spacing-hr {
    margin-right: 1.5rem;
}

.spacing-vr {
    margin-bottom: 2rem;
}

.icon {
    position: relative;
    font-size: 1.75rem;
}