.footer {
    padding: 1.5rem 0 0.5rem 0;
    border-top: 1px solid var(--secondary-color);
}

.footer_text span {
    color: var(--primary-color);
}

.footer_socials {
    gap: 20px;
    margin: 0.5rem;
}

.footer_socials a {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.footer_socials a:hover {
    color: var(--gray2);
    transition: 0.5s ease;
}

.footer_copyright {
    color: var(--gray1);
    font-size: 0.9rem;
}