/* heading */
.heading {
    font-family: var(--head-font);
}

/* link without text decoration */
.link-noDecoration {
    text-decoration: none;
}



/* ************************************************************ */

/* button */
.btn {
    position: relative;
    color: var(--white);
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.btn-sq {
    border-radius: var(--br-sq);
}

.btn-cr {
    border-radius: 2rem;
}

.btn-primary, 
.btn-outline {
    font-weight: bold;
    border: 2px solid var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.btn-outline {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--blue2);
    border-color: var(--blue2);
    transition: 0.5s ease;
}

.btn-outline:hover {
    color: var(--blue2);
    border-color: var(--blue2);
    transition: 0.5s ease;
}


/* lists */
.list_inline {
    display: inline;
}

.list-noStyle {
    list-style: none;
}

.list-noBullets {
    list-style: none;
}




/* headings */
/* .heading-lg {
    font-size: 3rem;
}

.heading-md {
    font-size: 2rem;
}

.heading-sm {
    font-size: 1.5rem;
} */

/* // input */
.container_input-icon {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--gray5);
}

.container_input-icon--sq {
    border-radius: 5px;
}


.input-icon {
    border: none;
}


/* button */
.btn_icon-nobg {
    background-color: var(--dark-gray2);
    color: var(--white);
    outline: none;
    border: none;
    font-size: 1.5rem;
}


/* badge */
.badge {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: var(--red);
    color: var(--white);
    font-size: 0.75rem;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    border-radius: 1rem;
    transform: translate(50%, -50%);
}




