/* heading */
.heading {
    font-family: var(--head-font);
}

/* link without text decoration */
.link-noDecoration {
    text-decoration: none;
}



/* ************************************************************ */
/* lists */
.list_inline {
    display: inline;
}

.list-noStyle {
    list-style: none;
}

.list-noBullets {
    list-style: none;
}

/* // input */
.container_input-icon {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--gray5);
}

.container_input-icon--sq {
    border-radius: 5px;
}


.input-icon {
    border: none;
}

/* badge */
/* .badge {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: var(--red);
    color: var(--white);
    font-size: 0.75rem;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    border-radius: 1rem;
    transform: translate(50%, -50%);
} */




