/* heading */
.heading {
    font-family: var(--head-font);
}

/* link without text decoration */
.link-noDecoration {
    text-decoration: none;
}



/* ************************************************************ */
/* lists */
.list_inline {
    display: inline;
}


/* // input */
.container_input-icon {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--gray5);
}

.container_input-icon--sq {
    border-radius: 5px;
}


.input-icon {
    border: none;
}