/* heading */
.heading {
    font-family: var(--head-font);
}

/* link without text decoration */
.link-noDecoration {
    text-decoration: none;
}



/* ************************************************************ */

/* button */
.btn {
    position: relative;
    color: var(--white);
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.btn-sq {
    border-radius: var(--br-sq);
}

.btn-primary, 
.btn-outline {
    font-weight: bold;
    border: 2px solid var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.btn-outline {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--blue2);
    border-color: var(--blue2);
    transition: 0.5s ease;
}

.btn-outline:hover {
    color: var(--blue2);
    border-color: var(--blue2);
    transition: 0.5s ease;
}


/* lists */
.list-noStyle {
    list-style: none;
}

.list-noBullets {
    list-style: none;
}


/* headings */
/* .heading-lg {
    font-size: 3rem;
}

.heading-md {
    font-size: 2rem;
}

.heading-sm {
    font-size: 1.5rem;
} */




