/***** landing page - main section *****/
.main {
    margin: 1rem 0 2rem 0;
}

.main_intro {
    justify-content: center;
    width: 65%;
    margin: -10% 12% 0 auto;
}

.main_heading {
    font-size: 7.5rem;
}

.main_btn-container {
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 1rem;
}
