.navbar_container {
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 1rem;
}

.navbar {
    width: 90%;
    padding: 1.5rem 0 1rem 0;
    margin: auto;
}

.navbar_logo {
    height: 3rem;
}

.navbar_list {
    gap: 2rem;
    margin-left: auto;
}

.navbar_pill {
    color: var(--white);
}

.navbar_pill:hover {
    color: var(--primary-color);
    transition: 0.3s ease;
}

.navbar_pill-selected{
    border-bottom: 2px solid var(--primary-color);
}