@import url("/src/style.css");

@import url("/assets/navbar.css");
@import url("/assets/landing-main.css");
@import url("/assets/footer.css");

@import url("/assets/sidebar.css");
@import url("/assets/component-showcase.css");

@import url("/components/flex/flex.css");
@import url("/components/grids/grids.css");
@import url("/components/text_utilities/");
@import url("/components/images/images.css");
@import url("/components/lists/lists.css");
@import url("/components/button/button.css");
@import url("/components/avatar/avatar.css");
@import url("/components/alert/alert.css");
@import url("/components/badge/badge.css");
@import url("/components/cards/cards.css");
@import url("/components/input/input.css");
@import url("/components/modal/modal.css");
@import url("/components/navigation/navigation.css");
@import url("/components/rating/rating.css");
@import url("/components/toast/toast.css");