@import url("/src/style.css");
@import url("/components_css/template.css");
@import url("/components_css/avatar.css");

.badge {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: var(--red);
    color: var(--white);
    font-size: 0.75rem;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.badge-sq {
    border-radius: 5px;
}

.badge-cr {
    border-radius: 1rem;
}

.badge_container {
    position: relative;
    width: fit-content;
}

.badge-orange {
    background-color: var(--orange);
}

.badge-yellow {
    background-color: var(--yellow);
}

.badge-green {
    background-color: var(--green);
}

.badge-cyan {
    background-color: var(--cyan);
}

.badge-blue {
    background-color: var(--blue);
}

.badge-voilet {
    background-color: var(--voilet);
}

.badge-grey {
    background-color: var(--gray1);
}

.badge_status {
    padding: 0.4rem;
    border: 2px solid var(--white);
}

.badge_status-cr-sm {
    margin-top: 2.7rem;
    margin-right: 0.4rem;
}

.badge_status-cr-md {
    margin-top: 3.9rem;
    margin-right: 0.7rem;
}

.badge_status-cr-lg {
    margin-top: 5rem;
    margin-right: 1rem;
}

.badge_status-sq {
    margin-top: 100%;
    transform: translate(30%, -80%);
}

