<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatrixUI | Overview</title>

    <link rel="stylesheet" href="/src/style.css">
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="stylesheet" href="/assets/general.css">
    <link rel="stylesheet" href="/assets/sidebar.css">
    <link rel="stylesheet" href="/assets/component-showcase.css">

    <script src="https://kit.fontawesome.com/10a3e21499.js" crossorigin="anonymous"></script>

</head>
<body>

    <!------------ navbar ------------>
    <header class="navbar_container">
        <nav class="navbar flex flex-row flex-center">
            <a class="link-noDecoration" href="/index.html">
                <img class="navbar_logo" src="/images/logo_MatrixUI-blue.svg" alt="MatrixUI Logo">
            </a>
            <ul class="navbar_list flex-row list-noStyle">
                <li><a class="navbar_pill link-noDecoration navbar_pill-selected" href="/index.html">Home</a></li>
                <li><a class="navbar_pill link-noDecoration" href="#">Components</a></li>
                <li><a class="navbar_pill link-noDecoration" href="#">Installation</a></li>
                <li><a class="navbar_pill link-noDecoration" href="#" target="_blank">Github</a></li>
            </ul>
        </nav>
    </header>

    <!------------ container ------------>
    <div class="container_components grid">
        <!----- sidebar ----->
        <aside class="sidebar flex-col">
            <h1 class="sidebar_heading heading heading-md">Components</h1>
            <ul class="sidebar_list list-noBullets">
                <li class="sidebar_item sidebar_item-selected sidebar_item-overview"><a class="link-noDecoration" href="/components/overview/overview.html">Overview</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Alert</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Avatar</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Badge</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Button</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Cards</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Flex</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Grids</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Images</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Input</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">List</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Modal</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Navigation</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Rating</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Text Utilities</a></li>
                <li class="sidebar_item"><a class="link-noDecoration" href="#">Toast</a></li>
            </ul>
        </aside>
    
        <main class="components">
            <h1 class="components_heading heading-lg heading">Overview</h1>
            
        </main>
    </div>
    
</body>
</html>